# 環境設定檔案
*.env

# Python 編譯文件
__pycache__/
*.pyc
*.pyo
*.pyd

# Alembic 遷移暫存檔
backend/alembic/versions/__pycache__/
backend/alembic/versions/*.pyc

# 虛擬環境
venv/

# 依賴套件
backend/requirements.txt

# IDE 設定檔
.vscode/
.idea/
*.iml

# 操作系統產生的檔案
.DS_Store
Thumbs.db